@mixin big_container {
    max-width: 1690px;
}

@mixin small_container {
    max-width: 900px;
}
@mixin display_flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin buttons {
    background-color: #1775BF;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 900;
    font-size: 1.15rem;
    letter-spacing: 0.15rem;
    padding: 1.15rem 2.5rem;
    border-radius: 999px;
}

@mixin flex_center_column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin subtitle_style {
    text-transform: uppercase;
    color: #AAAAAA;
    font-weight: 700;
    font-size: 1.25rem;
}

@mixin title_green_style {
    text-transform: capitalize;
    color: #6ABF17;
    font-size: 3.5rem;
    font-weight: 900;
}

@mixin text_style {
    color: #626263;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 2.25rem;
    padding: 1.5rem 0;
}

@mixin brand_icons {
    display: flex;
    gap: 1.5rem;
    font-size: 1.20rem;
    color: white;

    a {
        color: white;
    }
     
}